@use '../../../assets/colors.scss' as colors;

.container {
  background-color: colors.$primary;
  color: colors.$text;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-block:8vh;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  justify-self: center;
  line-height: 6vw;
  font-size: 6vw;
}

div .image {
  width: 100%;
  height: 100%;
}

.custom-image {
  width: auto;
  height: auto;
  max-width: 1600px;
}
